<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Slate</display-name>
  <servlet>
  		<servlet-name>PEForm</servlet-name>
  		<servlet-class>com.slate.PEForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PEForm</servlet-name>
 	 <url-pattern>/PEForm</url-pattern>
  </servlet-mapping>
   <servlet>
  		<servlet-name>something</servlet-name>
  		<servlet-class>com.slate.TForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>something</servlet-name>
 	 <url-pattern>/TForm</url-pattern>
  </servlet-mapping>
    <servlet>
  		<servlet-name>Allo</servlet-name>
  		<servlet-class>com.slate.AlloServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Allo</servlet-name>
 	 <url-pattern>/Allo</url-pattern>
  </servlet-mapping>
  
    <servlet>
  		<servlet-name>TableGen</servlet-name>
  		<servlet-class>com.slate.TableGen</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TableGen</servlet-name>
 	 <url-pattern>/TableGen</url-pattern>
  </servlet-mapping>
    <servlet>
  		<servlet-name>PEAllo</servlet-name>
  		<servlet-class>com.slate.PEAllo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PEAllo</servlet-name>
 	 <url-pattern>/PEAllo</url-pattern>
  </servlet-mapping>
     <servlet>
  		<servlet-name>TableShow</servlet-name>
  		<servlet-class>com.slate.TableShow</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TableShow</servlet-name>
 	 <url-pattern>/TableShow</url-pattern>
  </servlet-mapping>
  
     <servlet>
  		<servlet-name>Login</servlet-name>
  		<servlet-class>com.slate.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
 	 <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>