<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Slate</display-name>
 
   <servlet>
  		<servlet-name>something</servlet-name>
  		<servlet-class>com.slate.something</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>something</servlet-name>
 	 <url-pattern>/something</url-pattern>
  </servlet-mapping>
    <servlet>
  		<servlet-name>Allo</servlet-name>
  		<servlet-class>com.slate.AlloServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Allo</servlet-name>
 	 <url-pattern>/Allo</url-pattern>
  </servlet-mapping>
</web-app>